[Unit]
Description=Update NPM daily

[Service]
ExecStart=/home/james/Git/fedora-35-install/normal-user/systemd-services/npm-update.sh

[Install]
WantedBy=multi-user.target
